In [37]:
# Import packages 
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime

In [38]:
# Store filepath in a variable
violation = "Red_Light_Camera_Violations.csv"

In [39]:
# !cd Resources/ && unzip Red_Light_Camera_Violations.csv.zip

In [40]:
!open .

In [41]:
violation_df = pd.read_csv("Resources/Red_Light_Camera_Violations.csv", encoding="UTF-8")

In [42]:
violation_df.head()

,INTERSECTION,CAMERA ID,ADDRESS,VIOLATION DATE,VIOLATIONS,X COORDINATE,Y COORDINATE,LATITUDE,LONGITUDE,LOCATION
0,IRVING PARK AND KILPATRICK,2763.0,4700 W IRVING PARK ROA,04/09/2015,4,NaN,NaN,NaN,NaN,NaN
1,VAN BUREN AND WESTERN,2054.0,2400 W VAN BUREN STREE,04/14/2015,5,NaN,NaN,NaN,NaN,NaN
2,115TH AND HALSTED,2552.0,11500 S HALSTED STREE,04/08/2015,5,NaN,NaN,NaN,NaN,NaN
3,IRVING PARK AND KILPATRICK,2764.0,4700 W IRVING PARK ROA,04/19/2015,4,NaN,NaN,NaN,NaN,NaN
4,ELSTON AND IRVING PARK,1503.0,3700 W IRVING PARK ROA,04/23/2015,3,NaN,NaN,NaN,NaN,NaN

In [43]:
violation_df["violation_date_as_date"] = pd.to_datetime(violation_df["VIOLATION DATE"])

In [44]:
# Dates 2020 

jan_start_date = "2020-01-01" 
jan_end_date = "2020-01-31"
feb_start_date = "2020-02-01" 
feb_end_date = "2020-02-29"
mar_start_date = "2020-03-01" 
mar_end_date = "2020-03-31"
apr_start_date = "2020-04-01" 
apr_end_date = "2020-04-30"
may_start_date = "2020-05-01" 
may_end_date = "2020-05-31"
jun_start_date = "2020-06-01" 
jun_end_date = "2020-06-30"
jul_start_date = "2020-07-01" 
jul_end_date = "2020-07-31"
aug_start_date = "2020-08-01" 
aug_end_date = "2020-08-30"
sep_start_date = "2020-09-01" 
sep_end_date = "2020-09-30"
oct_start_date = "2020-10-01" 
oct_end_date = "2020-10-31"
nov_start_date = "2020-11-01" 
nov_end_date = "2020-11-30"
dec_start_date = "2020-12-01" 
dec_end_date = "2020-12-31"
jan21_start_date = "2021-01-01" 
jan21_end_date = "2021-01-31"
feb21_start_date = "2021-02-01" 
feb21_end_date = "2021-02-28"
mar21_start_date = "2021-03-01" 
mar21_end_date = "2021-03-31"

In [45]:
# Month DF

jan_2020_df = violation_df.loc[(violation_df["violation_date_as_date"] > jan_start_date) & (violation_df["violation_date_as_date"] <= jan_end_date)]
feb_2020_df = violation_df.loc[(violation_df["violation_date_as_date"] > feb_start_date) & (violation_df["violation_date_as_date"] <= feb_end_date)]
mar_2020_df = violation_df.loc[(violation_df["violation_date_as_date"] > mar_start_date) & (violation_df["violation_date_as_date"] <= mar_end_date)]
apr_2020_df = violation_df.loc[(violation_df["violation_date_as_date"] > apr_start_date) & (violation_df["violation_date_as_date"] <= apr_end_date)]
may_2020_df = violation_df.loc[(violation_df["violation_date_as_date"] > may_start_date) & (violation_df["violation_date_as_date"] <= may_end_date)]
jun_2020_df = violation_df.loc[(violation_df["violation_date_as_date"] > jun_start_date) & (violation_df["violation_date_as_date"] <= jun_end_date)]
jul_2020_df = violation_df.loc[(violation_df["violation_date_as_date"] > jul_start_date) & (violation_df["violation_date_as_date"] <= jul_end_date)]
aug_2020_df = violation_df.loc[(violation_df["violation_date_as_date"] > aug_start_date) & (violation_df["violation_date_as_date"] <= aug_end_date)]
sep_2020_df = violation_df.loc[(violation_df["violation_date_as_date"] > sep_start_date) & (violation_df["violation_date_as_date"] <= sep_end_date)]
oct_2020_df = violation_df.loc[(violation_df["violation_date_as_date"] > oct_start_date) & (violation_df["violation_date_as_date"] <= oct_end_date)]
nov_2020_df = violation_df.loc[(violation_df["violation_date_as_date"] > nov_start_date) & (violation_df["violation_date_as_date"] <= nov_end_date)]
dec_2020_df = violation_df.loc[(violation_df["violation_date_as_date"] > dec_start_date) & (violation_df["violation_date_as_date"] <= dec_end_date)]
jan_2021_df = violation_df.loc[(violation_df["violation_date_as_date"] > jan21_start_date) & (violation_df["violation_date_as_date"] <= jan21_end_date)]
feb_2021_df = violation_df.loc[(violation_df["violation_date_as_date"] > feb21_start_date) & (violation_df["violation_date_as_date"] <= feb21_end_date)]
mar_2021_df = violation_df.loc[(violation_df["violation_date_as_date"] > mar21_start_date) & (violation_df["violation_date_as_date"] <= mar21_end_date)]

In [46]:
# Violations 
#feb_2020_df.head()
mar_2020_df.head()

,INTERSECTION,CAMERA ID,ADDRESS,VIOLATION DATE,VIOLATIONS,X COORDINATE,Y COORDINATE,LATITUDE,LONGITUDE,LOCATION,violation_date_as_date
2424,ASHLAND AND IRVING PARK,1153.0,1600 W IRVING PARK ROA,03/12/2020,2,NaN,NaN,NaN,NaN,NaN,2020-03-12
5147,IRVING PARK AND CALIFORNIA,1234.0,2800 W IRVING PARK ROA,03/12/2020,2,NaN,NaN,NaN,NaN,NaN,2020-03-12
5740,99TH AND HALSTED,2431.0,9900 S HALSTED ST,03/12/2020,17,1.172690e+06,1.839172e+06,41.714119,-87.643145,"(41.714118868089905, -87.64314540818165)",2020-03-12
5741,LAWRENCE AND CICERO,1041.0,4800 N CICERO AVE,03/12/2020,8,1.143465e+06,1.931491e+06,41.968048,-87.747876,"(41.968048007293845, -87.74787598468126)",2020-03-12
5743,PULASKI AND ARMITAGE,1844.0,4000 W ARMITAGE AVENUE,03/12/2020,4,1.149375e+06,1.913029e+06,41.917275,-87.726623,"(41.91727506940875, -87.72662274644799)",2020-03-12

In [47]:
jan_2020_df["VIOLATIONS"].sum()

33020

In [48]:
feb_2020_df["VIOLATIONS"].sum()

34524

In [49]:
mar_2020_df["VIOLATIONS"].sum()

34683

In [50]:
apr_2020_df["VIOLATIONS"].sum()

34303

In [51]:
may_2020_df["VIOLATIONS"].sum()

43889

In [52]:
jun_2020_df["VIOLATIONS"].sum()

57156

In [53]:
jul_2020_df["VIOLATIONS"].sum()

56623

In [54]:
aug_2020_df["VIOLATIONS"].sum()

55693

In [55]:
sep_2020_df["VIOLATIONS"].sum()

54153

In [56]:
oct_2020_df["VIOLATIONS"].sum()

51862

In [57]:
nov_2020_df["VIOLATIONS"].sum()

42961

In [58]:
dec_2020_df["VIOLATIONS"].sum()

40855

In [59]:
jan_2021_df["VIOLATIONS"].sum()

35456

In [60]:
feb_2021_df["VIOLATIONS"].sum()

33114

In [61]:
mar_2021_df["VIOLATIONS"].sum()

18162

In [62]:
# Yearly Summary Graph

Data = {'Month': [jan_start_date,feb_start_date],
        'Violations': ['VIOLATIONS']
       }
df = pd.DataFrame(Data,columns=['Month','Violations'])

New_Colors = ['green','blue','purple','brown','teal']
plt.bar(df['Month'], df['Violations'], color=New_Colors)

'''
 = "2020-01-01" 
jan_end_date = "2020-01-31"
 = "2020-02-01" 
feb_end_date = "2020-02-29"
mar_start_date = "2020-03-01" 
mar_end_date = "2020-03-31"
apr_start_date = "2020-04-01" 
apr_end_date = "2020-04-30"
may_start_date = "2020-05-01" 
may_end_date = "2020-05-31"
jun_start_date = "2020-06-01" 
jun_end_date = "2020-06-30"
jul_start_date = "2020-07-01" 
jul_end_date = "2020-07-31"
aug_start_date = "2020-08-01" 
aug_end_date = "2020-08-30"
sep_start_date = "2020-09-01" 
sep_end_date = "2020-09-30"
oct_start_date = "2020-10-01" 
oct_end_date = "2020-10-31"
nov_start_date = "2020-11-01" 
nov_end_date = "2020-11-30"
dec_start_date = "2020-12-01" 
dec_end_date = "2020-12-31"
jan21_start_date = "2021-01-01" 
jan21_end_date = "2021-01-31"
feb21_start_date = "2021-02-01" 
feb21_end_date = "2021-02-28"
mar21_start_date = "2021-03-01" 
mar21_end_date = "2021-03-31"
'''

ValueError: arrays must all be same length