In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime

In [2]:
# Store filepath in a variable
speed_data = "Chicago/Speed_Camera_Violations 2.csv"

In [3]:
speed_data_df = pd.read_csv(speed_data, encoding="UTF-8")

In [4]:
speed_data_df.head()

,ADDRESS,CAMERA ID,VIOLATION DATE,VIOLATIONS,X COORDINATE,Y COORDINATE,LATITUDE,LONGITUDE,LOCATION
0,1111 N HUMBOLDT,CHI010,4/10/15,67,NaN,NaN,NaN,NaN,NaN
1,1111 N HUMBOLDT,CHI010,4/25/15,71,NaN,NaN,NaN,NaN,NaN
2,1111 N HUMBOLDT,CHI010,4/14/15,38,NaN,NaN,NaN,NaN,NaN
3,1111 N HUMBOLDT,CHI010,4/16/15,55,NaN,NaN,NaN,NaN,NaN
4,1111 N HUMBOLDT,CHI010,4/24/15,54,NaN,NaN,NaN,NaN,NaN

In [5]:
speed_data_df["violation_date_as_date"] = pd.to_datetime(speed_data_df["VIOLATION DATE"])

In [6]:
feb_start_date = "2020-02-01"
feb_end_date = "2020-02-29"

In [7]:
feb_2020_df = speed_data_df.loc[(speed_data_df["violation_date_as_date"] > feb_start_date) & 
                                (speed_data_df["violation_date_as_date"] <= feb_end_date)]

In [8]:
feb_2020_df.head()

,ADDRESS,CAMERA ID,VIOLATION DATE,VIOLATIONS,X COORDINATE,Y COORDINATE,LATITUDE,LONGITUDE,LOCATION,violation_date_as_date
8362,2705 W IRVING PARK,CHI079,2/23/20,88,1157555.243,1926426.211,41.953875,-87.696204,"(41.95387526461699, -87.69620408862693)",2020-02-23
8388,2712 W IRVING PARK,CHI080,2/23/20,11,1157447.914,1926504.637,41.954093,-87.696596,"(41.954092657149786, -87.6965965016668)",2020-02-23
42324,9618 S EWING AVE,CHI142,2/2/20,13,1202074.877,1841844.577,41.720757,-87.535437,"(41.72075680558273, -87.53543678735923)",2020-02-02
42325,3535 E 95TH ST,CHI140,2/2/20,5,1201486.256,1842590.389,41.722818,-87.537567,"(41.722818322421595, -87.53756746533104)",2020-02-02
42328,3100 W AUGUSTA,CHI011,2/2/20,39,1155438.363,1906531.351,41.899325,-87.704522,"(41.89932514072566, -87.70452234551168)",2020-02-02

In [9]:
feb_2020_df["VIOLATIONS"].sum()

64970

In [10]:
nov_19_start_date = "2019-11-01"
nov_19_end_date = "2019-11-30"

In [11]:
nov_2019_df = speed_data_df.loc[(speed_data_df["violation_date_as_date"] > nov_19_start_date) & (speed_data_df["violation_date_as_date"] <= nov_19_end_date)]

In [12]:
nov_2019_df["VIOLATIONS"].sum()

63181

In [13]:
mar_start_date = "2020-03-01"
mar_end_date = "2020-03-31"
apr_start_date = "2020-04-01"
apr_end_date = "2020-04-30"
june_start_date = "2020-06-01"
june_end_date = "2020-06-30"
july_start_date = "2020-07-01"
july_end_date = "2020-07-31"
aug_start_date = "2020-08-01"
aug_end_date = "2020-08-31"
oct_start_date = "2020-10-01"
oct_end_date = "2020-10-31"
nov_start_date = "2020-11-01"
nov_end_date = "2020-11-30"
dec_start_date = "2020-12-01"
dec_end_date = "2020-12-31"
jan_21_start_date = "2021-01-01"
jan_21_end_date = "2021-01-31"

In [14]:
mar_2020_df = speed_data_df.loc[(speed_data_df["violation_date_as_date"] > mar_start_date) & (speed_data_df["violation_date_as_date"] <= mar_end_date)]

In [15]:
mar_2020_df["VIOLATIONS"].sum()

71898

In [16]:
apr_2020_df = speed_data_df.loc[(speed_data_df["violation_date_as_date"] > apr_start_date) & (speed_data_df["violation_date_as_date"] <= apr_end_date)]

In [17]:
apr_2020_df["VIOLATIONS"].sum()

64303

In [18]:
may_start_date = "2020-05-01"
may_end_date = "2020-05-31"

In [21]:
may_2020_df = speed_data_df.loc[(speed_data_df["violation_date_as_date"] > may_start_date) & (speed_data_df["violation_date_as_date"] <= may_end_date)]

In [22]:
may_2020_df["VIOLATIONS"].sum()

62554

In [23]:
june_2020_df = speed_data_df.loc[(speed_data_df["violation_date_as_date"] > june_start_date) & (speed_data_df["violation_date_as_date"] <= june_end_date)]

In [24]:
june_2020_df["VIOLATIONS"].sum()

64591

In [25]:
july_2020_df = speed_data_df.loc[(speed_data_df["violation_date_as_date"] > july_start_date) & (speed_data_df["violation_date_as_date"] <= july_end_date)]

In [26]:
july_2020_df["VIOLATIONS"].sum()

71562

In [27]:
aug_2020_df = speed_data_df.loc[(speed_data_df["violation_date_as_date"] > aug_start_date) & (speed_data_df["violation_date_as_date"] <= aug_end_date)]

In [28]:
aug_2020_df["VIOLATIONS"].sum()

67697

In [29]:
sep_start_date = "2020-09-01"
sep_end_date = "2020-09-30"

In [30]:
sep_2020_df = speed_data_df.loc[(speed_data_df["violation_date_as_date"] > sep_start_date) & (speed_data_df["violation_date_as_date"] <= sep_end_date)]

In [31]:
sep_2020_df["VIOLATIONS"].sum()

63822

In [32]:
oct_2020_df = speed_data_df.loc[(speed_data_df["violation_date_as_date"] > oct_start_date) & (speed_data_df["violation_date_as_date"] <= oct_end_date)]

In [33]:
oct_2020_df["VIOLATIONS"].sum()

62747

In [36]:
nov_2020_df = speed_data_df.loc[(speed_data_df["violation_date_as_date"] > nov_start_date) & (speed_data_df["violation_date_as_date"] <= nov_end_date)]

In [37]:
nov_2020_df["VIOLATIONS"].sum()

59097

In [38]:
dec_2020_df = speed_data_df.loc[(speed_data_df["violation_date_as_date"] > dec_start_date) & (speed_data_df["violation_date_as_date"] <= dec_end_date)]

In [39]:
dec_2020_df["VIOLATIONS"].sum()

63519

In [40]:
jan_2021_df = speed_data_df.loc[(speed_data_df["violation_date_as_date"] > jan_21_start_date) & (speed_data_df["violation_date_as_date"] <= jan_21_end_date)]

In [41]:
jan_2021_df["VIOLATIONS"].sum()

44199

In [42]:
feb_21_start_date = "2021-02-01"
feb_21_end_date = "2021-02-28"

In [43]:
feb_2021_df = speed_data_df.loc[(speed_data_df["violation_date_as_date"] > feb_21_start_date) & (speed_data_df["violation_date_as_date"] <= feb_21_end_date)]

In [44]:
feb_2021_df.head()

,ADDRESS,CAMERA ID,VIOLATION DATE,VIOLATIONS,X COORDINATE,Y COORDINATE,LATITUDE,LONGITUDE,LOCATION,violation_date_as_date
239859,5529 S WESTERN,CHI068,2/10/21,2,NaN,NaN,NaN,NaN,NaN,2021-02-10
239860,4843 W FULLERTON,CHI044,2/10/21,5,1143534.106,1915477.825,41.924106,-87.748023,"(41.92410632982652, -87.74802266359677)",2021-02-10
239861,6250 W FULLERTON,CHI040,2/10/21,4,1134113.482,1915315.344,41.923832,-87.782642,"(41.92383169923362, -87.78264224184598)",2021-02-10
239862,2080 W PERSHING,CHI005,2/10/21,2,1163048.143,1878842.851,41.823189,-87.677349,"(41.823188824691925, -87.67734879498818)",2021-02-10
239863,6909 S KEDZIE,CHI014,2/10/21,18,1156276.175,1858582.894,41.767732,-87.702738,"(41.76773186901884, -87.70273790708362)",2021-02-10

In [45]:
feb_2021_df["VIOLATIONS"].sum()

9365

In [46]:
feb_2021_df["CAMERA ID"].count()

893

In [49]:
jul_17_start_date = "2017-7-01"
jul_17_end_date = "2017-7-31"

In [50]:
jul_17_df = speed_data_df.loc[(speed_data_df["violation_date_as_date"] > jul_17_start_date) & (speed_data_df["violation_date_as_date"] <= jul_17_end_date)]

In [51]:
jul_17_df["VIOLATIONS"].sum()

84507

In [53]:
jul_18_start_date = "2018-7-01"
jul_18_end_date = "2018-7-31"

In [54]:
jul_18_df = speed_data_df.loc[(speed_data_df["violation_date_as_date"] > jul_18_start_date) & (speed_data_df["violation_date_as_date"] <= jul_18_end_date)]

In [55]:
jul_18_df["VIOLATIONS"].sum()

73703