In [10]:
# Import packages 
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime

In [11]:
# Store filepath in a variable
violation = "Red_Light_Camera_Violations.csv"

In [12]:
violation_df = pd.read_csv(violation, encoding="UTF-8")

In [13]:
violation_df.head()

,INTERSECTION,CAMERA ID,ADDRESS,VIOLATION DATE,VIOLATIONS,X COORDINATE,Y COORDINATE,LATITUDE,LONGITUDE,LOCATION
0,IRVING PARK AND KILPATRICK,2763.0,4700 W IRVING PARK ROA,04/09/2015,4,NaN,NaN,NaN,NaN,NaN
1,VAN BUREN AND WESTERN,2054.0,2400 W VAN BUREN STREE,04/14/2015,5,NaN,NaN,NaN,NaN,NaN
2,115TH AND HALSTED,2552.0,11500 S HALSTED STREE,04/08/2015,5,NaN,NaN,NaN,NaN,NaN
3,IRVING PARK AND KILPATRICK,2764.0,4700 W IRVING PARK ROA,04/19/2015,4,NaN,NaN,NaN,NaN,NaN
4,ELSTON AND IRVING PARK,1503.0,3700 W IRVING PARK ROA,04/23/2015,3,NaN,NaN,NaN,NaN,NaN

In [15]:
violation_df["violation_date_as_date"] = pd.to_datetime(violation_df["VIOLATION DATE"])

In [16]:
# February 2020 
feb_start_date = "2020-02-01" 
feb_end_date = "2020-02-29"

In [17]:
feb_2020_df = violation_df.loc[(violation_df["violation_date_as_date"] > feb_start_date) & (violation_df["violation_date_as_date"] <= feb_end_date)]

In [18]:
feb_2020_df.head()

,INTERSECTION,CAMERA ID,ADDRESS,VIOLATION DATE,VIOLATIONS,X COORDINATE,Y COORDINATE,LATITUDE,LONGITUDE,LOCATION,violation_date_as_date
25714,PULASKI AND ARCHER,2153.0,5000 S ARCHER AVE,02/23/2020,6,1.150502e+06,1.871162e+06,41.802366,-87.723577,"(41.80236597333895, -87.72357676611004)",2020-02-23
25715,ARCHER AND CICERO,2084.0,5400 S ARCHER AVE,02/07/2020,7,1.145209e+06,1.869811e+06,41.798758,-87.743021,"(41.798758207843264, -87.74302054146467)",2020-02-07
25716,CALIFORNIA AND DIVERSEY,1513.0,2800 W DIVERSEY,02/23/2020,3,1.157213e+06,1.918527e+06,41.932205,-87.697679,"(41.93220539506452, -87.6976792438691)",2020-02-23
25717,WENTWORTH AND GARFIELD,2264.0,200 W GARFIELD BLVD,02/08/2020,5,1.175890e+06,1.868552e+06,41.794670,-87.630547,"(41.79467038468937, -87.63054747605638)",2020-02-08
25723,WESTERN AND FOSTER,1072.0,5200 N WESTERN AVE,02/24/2020,6,1.159373e+06,1.934478e+06,41.975933,-87.689300,"(41.97593337199358, -87.6892995891816)",2020-02-24

In [20]:
feb_2020_df.count()

INTERSECTION              6852
CAMERA ID                 6852
ADDRESS                   6852
VIOLATION DATE            6852
VIOLATIONS                6852
X COORDINATE              6514
Y COORDINATE              6514
LATITUDE                  6514
LONGITUDE                 6514
LOCATION                  6514
violation_date_as_date    6852
dtype: int64

In [23]:
# March 2020 
mar_start_date = "2020-03-01" 
mar_end_date = "2020-03-31"

In [24]:
mar_2020_df = violation_df.loc[(violation_df["violation_date_as_date"] > mar_start_date) & (violation_df["violation_date_as_date"] <= mar_end_date)]

In [25]:
mar_2020_df.head()

,INTERSECTION,CAMERA ID,ADDRESS,VIOLATION DATE,VIOLATIONS,X COORDINATE,Y COORDINATE,LATITUDE,LONGITUDE,LOCATION,violation_date_as_date
2424,ASHLAND AND IRVING PARK,1153.0,1600 W IRVING PARK ROA,03/12/2020,2,NaN,NaN,NaN,NaN,NaN,2020-03-12
5147,IRVING PARK AND CALIFORNIA,1234.0,2800 W IRVING PARK ROA,03/12/2020,2,NaN,NaN,NaN,NaN,NaN,2020-03-12
5740,99TH AND HALSTED,2431.0,9900 S HALSTED ST,03/12/2020,17,1.172690e+06,1.839172e+06,41.714119,-87.643145,"(41.714118868089905, -87.64314540818165)",2020-03-12
5741,LAWRENCE AND CICERO,1041.0,4800 N CICERO AVE,03/12/2020,8,1.143465e+06,1.931491e+06,41.968048,-87.747876,"(41.968048007293845, -87.74787598468126)",2020-03-12
5743,PULASKI AND ARMITAGE,1844.0,4000 W ARMITAGE AVENUE,03/12/2020,4,1.149375e+06,1.913029e+06,41.917275,-87.726623,"(41.91727506940875, -87.72662274644799)",2020-03-12

In [26]:
mar_2020_df.count()

INTERSECTION              7330
CAMERA ID                 7330
ADDRESS                   7330
VIOLATION DATE            7330
VIOLATIONS                7330
X COORDINATE              6975
Y COORDINATE              6975
LATITUDE                  6975
LONGITUDE                 6975
LOCATION                  6975
violation_date_as_date    7330
dtype: int64

In [27]:
# April 2020 
apr_start_date = "2020-04-01" 
apr_end_date = "2020-04-30"

In [28]:
apr_2020_df = violation_df.loc[(violation_df["violation_date_as_date"] > apr_start_date) & (violation_df["violation_date_as_date"] <= apr_end_date)]

In [29]:
apr_2020_df.head()

,INTERSECTION,CAMERA ID,ADDRESS,VIOLATION DATE,VIOLATIONS,X COORDINATE,Y COORDINATE,LATITUDE,LONGITUDE,LOCATION,violation_date_as_date
59076,KIMBALL AND DIVERSEY,1581.0,2800 N KIMBALL AVENUE,04/02/2020,2,NaN,NaN,NaN,NaN,NaN,2020-04-02
59818,IRVING PARK AND LARAMIE,1533.0,5200 W IRVING PARK ROA,04/02/2020,6,NaN,NaN,NaN,NaN,NaN,2020-04-02
61004,IRVING PARK AND CALIFORNIA,1234.0,2800 W IRVING PARK ROA,04/02/2020,6,NaN,NaN,NaN,NaN,NaN,2020-04-02
62017,CENTRAL AND IRVING PARK,1182.0,4000 N CENTRAL AVENUE,04/02/2020,1,1.138259e+06,1.926071e+06,41.953273,-87.767150,"(41.95327275103541, -87.76715015131407)",2020-04-02
62021,CENTRAL AND IRVING PARK,1183.0,5600 W IRVING PARK ROAD,04/02/2020,1,1.138282e+06,1.926079e+06,41.953293,-87.767066,"(41.953292847298, -87.76706570775266)",2020-04-02

In [30]:
apr_2020_df.count()

INTERSECTION              7153
CAMERA ID                 7153
ADDRESS                   7153
VIOLATION DATE            7153
VIOLATIONS                7153
X COORDINATE              6796
Y COORDINATE              6796
LATITUDE                  6796
LONGITUDE                 6796
LOCATION                  6796
violation_date_as_date    7153
dtype: int64

In [31]:
# January 2020 
jan_start_date = "2020-01-01" 
jan_end_date = "2020-01-31"

In [32]:
jan_2020_df = violation_df.loc[(violation_df["violation_date_as_date"] > jan_start_date) & (violation_df["violation_date_as_date"] <= jan_end_date)]

In [33]:
jan_2020_df.head()

,INTERSECTION,CAMERA ID,ADDRESS,VIOLATION DATE,VIOLATIONS,X COORDINATE,Y COORDINATE,LATITUDE,LONGITUDE,LOCATION,violation_date_as_date
100273,IRVING PARK AND CALIFORNIA,1233.0,2800 W IRVING PARK ROA,01/02/2020,2,NaN,NaN,NaN,NaN,NaN,2020-01-02
100307,LAKE AND UPPER WACKER,3051.0,200 N UPPER WACKER DR,01/02/2020,2,NaN,NaN,NaN,NaN,NaN,2020-01-02
100492,31ST ST AND MARTIN LUTHER KING DRIVE,2121.0,3100 S DR MARTIN L KING,01/02/2020,15,NaN,NaN,NaN,NaN,NaN,2020-01-02
100493,ARCHER AND CICERO,2081.0,5200 S CICERO AVE,01/02/2020,26,1.145196e+06,1.869738e+06,41.798558,-87.743072,"(41.798558278193305, -87.74307186616427)",2020-01-02
100494,HAMLIN AND MADISON,1901.0,0 N HAMLIN BOULEVARD,01/02/2020,4,1.151027e+06,1.899764e+06,41.880841,-87.720902,"(41.88084147694413, -87.72090218457842)",2020-01-02

In [34]:
jan_2020_df.count()

INTERSECTION              7306
CAMERA ID                 7306
ADDRESS                   7306
VIOLATION DATE            7306
VIOLATIONS                7306
X COORDINATE              6898
Y COORDINATE              6898
LATITUDE                  6898
LONGITUDE                 6898
LOCATION                  6898
violation_date_as_date    7306
dtype: int64