In [23]:
# Import Dependencies
import pandas as pd

In [24]:
file = 'Resources/CTA_-_Ridership_-_Bus_Routes_-_Daily_Totals_by_Route.csv'
df_CTABusData = pd.read_csv(file, encoding="ISO-8859-1")
df_CTABusData.head()

  route        date daytype  rides
0     3  01/01/2001       U   7354
1     4  01/01/2001       U   9288
2     6  01/01/2001       U   6048
3     8  01/01/2001       U   6309
4     9  01/01/2001       U  11207

In [25]:
df_CTABusData["date_of_rides"] = pd.to_datetime(df_CTABusData["date"])

In [26]:
# Dates 2020 

jan_start_date = "2020-01-01" 
jan_end_date = "2020-01-31"
feb_start_date = "2020-02-01" 
feb_end_date = "2020-02-29"
mar_start_date = "2020-03-01" 
mar_end_date = "2020-03-31"
apr_start_date = "2020-04-01" 
apr_end_date = "2020-04-30"
may_start_date = "2020-05-01" 
may_end_date = "2020-05-31"
jun_start_date = "2020-06-01" 
jun_end_date = "2020-06-30"
jul_start_date = "2020-07-01" 
jul_end_date = "2020-07-31"
aug_start_date = "2020-08-01" 
aug_end_date = "2020-08-30"
sep_start_date = "2020-09-01" 
sep_end_date = "2020-09-30"
oct_start_date = "2020-10-01" 
oct_end_date = "2020-10-31"
nov_start_date = "2020-11-01" 
nov_end_date = "2020-11-30"

In [27]:
jan_2020_df = df_CTABusData.loc[(df_CTABusData["date_of_rides"] > jan_start_date) & (df_CTABusData["date_of_rides"] <= jan_end_date)]
feb_2020_df = df_CTABusData.loc[(df_CTABusData["date_of_rides"] > feb_start_date) & (df_CTABusData["date_of_rides"] <= feb_end_date)]
mar_2020_df = df_CTABusData.loc[(df_CTABusData["date_of_rides"] > mar_start_date) & (df_CTABusData["date_of_rides"] <= mar_end_date)]
apr_2020_df = df_CTABusData.loc[(df_CTABusData["date_of_rides"] > apr_start_date) & (df_CTABusData["date_of_rides"] <= apr_end_date)]
may_2020_df = df_CTABusData.loc[(df_CTABusData["date_of_rides"] > may_start_date) & (df_CTABusData["date_of_rides"] <= may_end_date)]
jun_2020_df = df_CTABusData.loc[(df_CTABusData["date_of_rides"] > jun_start_date) & (df_CTABusData["date_of_rides"] <= jun_end_date)]
jul_2020_df = df_CTABusData.loc[(df_CTABusData["date_of_rides"] > jul_start_date) & (df_CTABusData["date_of_rides"] <= jul_end_date)]
aug_2020_df = df_CTABusData.loc[(df_CTABusData["date_of_rides"] > aug_start_date) & (df_CTABusData["date_of_rides"] <= aug_end_date)]
sep_2020_df = df_CTABusData.loc[(df_CTABusData["date_of_rides"] > sep_start_date) & (df_CTABusData["date_of_rides"] <= sep_end_date)]
oct_2020_df = df_CTABusData.loc[(df_CTABusData["date_of_rides"] > oct_start_date) & (df_CTABusData["date_of_rides"] <= oct_end_date)]
nov_2020_df = df_CTABusData.loc[(df_CTABusData["date_of_rides"] > nov_start_date) & (df_CTABusData["date_of_rides"] <= nov_end_date)]

In [28]:
mar_2020_df.head()

       route        date daytype  rides date_of_rides
852211     1  03/02/2020       W   1944    2020-03-02
852212     1  03/03/2020       W   2126    2020-03-03
852213     1  03/04/2020       W   2001    2020-03-04
852214     1  03/05/2020       W   1930    2020-03-05
852215     1  03/06/2020       W   1701    2020-03-06

In [29]:
jan_2020_df["rides"].sum()

19072845

In [30]:
feb_2020_df["rides"].sum()

18429801

In [31]:
mar_2020_df["rides"].sum()

12912755

In [32]:
apr_2020_df["rides"].sum()

5582273

In [33]:
may_2020_df["rides"].sum()

6504701

In [34]:
jun_2020_df["rides"].sum()

7081280

In [35]:
jul_2020_df["rides"].sum()

8189871

In [36]:
aug_2020_df["rides"].sum()

7897782

In [37]:
sep_2020_df["rides"].sum()

8186122

In [38]:
oct_2020_df["rides"].sum()

8472419

In [39]:
nov_2020_df["rides"].sum()

7274626